<div ng-controller="loginInCtrl">
    <div class="login-top-box">
        <div class="login-top" style="vertical-align: middle;">
            <img src="../resources/images/logo.jpg" style="width: 50px; height: 38px; margin-top: 3px;">
            <span class="login-title">左云县国家税务局税收执法风险“三层”内控平台</span>
        </div>
    </div>
    <div class="login-bg">
        <div class="login-main"></div>
        <div>
            <div class="login-login">
                <div class="login-login-title">登录</div>
                <div class="login-login-error">
                    <span ng-bind="errMsg"></span>
                </div>
                <div class="login-login-form">
                    <div class="input-group">
                        <form class="form-horizontal" role="form" name="formLogin">
                            <input type="text" class="login-login-username" placeholder="用户名"
                                   aria-describedby="sizing-addon2" ng-model="username">
                            <input type="password" class="login-login-password" placeholder="密码"
                                   aria-describedby="sizing-addon2" ng-model="password">
                            <input id="imgCode" ng-blur="validateVerifyCode()" class="login-login-verify" placeholder="验证码"
                                   name="verifyCode" ng-model="verifyCode">
                            <img id="verifyCode" style="cursor: pointer; margin-bottom: 2px; width: 86px;" alt="点击刷新" src="app/verifyCode/image"
                                 ng-click="updateVerify()">
                            <input type="submit" class="login-login-login" value="登录" ng-click="login()">
                        </form>
                    </div>
                </div>
                <!--<div class="Dl_zhuce_biaodan">-->
                <!--<div class="row">-->
                <!--<div class="col-md-10 col-ms-offset-1 logo">-->
                <!--<div class="pull-left errmsgs">-->
                <!--<span class="" ng-bind="errmsg" style="color: red"></span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--<form class="form-horizontal" role="form" name="formLogin">-->
                <!--<input class="zhuce_input01" ng-model="username" name="username" maxlength="10" placeholder="用户名">-->
                <!--<input type="password" class="zhuce_input02" placeholder="密码" ng-model="password">-->
                <!--<input id="imgCode" ng-blur="validateVerifyCode()" class="zhuce_input00" placeholder="验证码" name="verifyCode" ng-model="verifyCode">-->
                <!--<img style="cursor: pointer; width: 76px" alt="点击刷新" src="app/verifyCode/image" onclick="this.src='app/verifyCode/image?t='+new Date()">-->
                <!--<input type="submit" class="zhuce_input03" value="登录" ng-click="login()">-->
                <!--</form>-->
                <!--</div>-->
            </div>
        </div>
    </div>

    <div class="login-footer">
    </div>
</div>