<div ng-controller="taxXianjuCtrl">
    <div>
        <div class="collapse in" id="agencies" style="margin-bottom: 15px;">
            <label style="font-weight: bold;">机构选择：</label>
            <label ng-repeat="agency in searchParams.agencies"  class="checkbox-inline">
                <input type="checkbox" id="{{agency.id}}" type="checkbox"> {{agency.name}}
            </label>
            <!--<span ng-repeat="agency in searchParams.agencies" style="margin: 10px 4px; display: inline-block;">-->
                 <!--<label for="{{agency.id}}">-->
                    <!--<input id="{{agency.id}}" type="checkbox"> {{agency.name}}-->
                <!--</label>-->
            <!--</span>-->
        </div>
        <div>
            <form class="form-inline">
                <div class="ws-search-input-group">
                    <div class="form-group">
                        <label title="创建时间起" for="createTimeStart">创建时间起</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input size="16" type="text" id="createTimeStart" name="createTimeStart"
                                   class="form-control input-sm"
                                   placeholder="年-月-日 时:分" ng-model="searchParams.startCreate">
                        </div>
                    </div>
                    <div class="form-group">
                        <label title="创建时间止" for="createTimeEnd"> 创建时间止</label>
                        <div class="input-group input-group-sm">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                            <input size="16" type="text" id="createTimeEnd" ng-init="initDtp()"
                                   class="form-control input-sm" placeholder="年-月-日 时:分"
                                   ng-model="searchParams.createTimeEnd">
                        </div>
                    </div>
                    <div class="ws-search-btn-group ws-inline">
                        <button class="btn btn-info btn-sm" type="submit" ng-click="statement(searchParams.agencyId)">查询</button>
                        <button class="btn btn-info btn-sm" type="button" ng-click="resetSearch()">清空</button>
                        <!--<button class="btn btn-primary btn-sm" data-toggle="collapse" data-target="#agencies">机关选择</button>-->
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div style="padding: 20px;">
        <table class="ws-statement">
            <thead>
            <tr>
                <th colspan="6" class="ws-heading"><span>税务统计报表</span></th>
            </tr>
            <tr>
                <th colspan="6" class="ws-subheading">统计单位：左云县国家税务局</th>
            </tr>
            <tr class="ws-header">
                <th>主管税务机关</th>
                <th>业务类型</th>
                <th>业务项目</th>
                <th>问题数</th>
                <th>总数</th>
                <th>问题类型</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="rec in recs">
                <td rowspan="{{rec.aSpan.i}}" ng-bind="rec.agencyName" ng-if="rec.agencyName"></td>
                <td rowspan="{{rec.ctSpan.i}}" ng-bind="rec.categoryTypeName" ng-if="rec.categoryTypeName"></td>
                <td ng-bind="rec.name"></td>
                <td ng-bind="rec.issueCount"></td>
                <td ng-bind="rec.count"></td>
                <td>
                    <span ng-repeat="issue in rec.issueNames">{{issue}} </span>
                </td>
            </tr>
            </tbody>
            <!--<tfoot>-->
            <!--<tr>-->
            <!--<td colspan="5" style="text-align: right">2017年5月11日 16:11</td>-->
            <!--</tr>-->
            <!--</tfoot>-->
        </table>
    </div>
</div>